* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-background: #005f22;
    --clr-Font: white;
    --Heading-font-size: 2.3rem;
    --font-size: 1.3rem;
    --hover-font-color :yellow;

}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;

}


.navbar {

    width: 100%;
    height: 60px;
    background-color: rgba(3, 46, 14, .8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    position: fixed;
    z-index: 1;

}

.navbar-contents {
    list-style-type: none;
    margin-left: 15px;


}

.navbar-contents a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550px;
}

.navbar-contents a:hover {
    color: yellow;
}

.navbar ul {

    margin-right: 30px;
    margin-left: 20px;
    display: flex;

}

#Logo {
    width: 81px;
    height: 81px;

    animation: BallRotate 4s linear infinite;

}

@keyframes BallRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

#icon-nav {
    display: none;
    cursor: pointer;

}


@media(max-width:862px) {
    .navbar {
        width: 100%;
        height: 60px;
        background-color: rgba(3, 46, 14, .8);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        position: relative;
        position: fixed;

    }

    .logo-image-box {
        position: absolute;
        left: 5%;

    }

    #Hide-nav {
        display: none;
    }

    #icon-nav {

        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 9px;
        position: absolute;
        right: 0%;



    }

    .nav-deatails {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        right: 0%;
        top: 100%;

    }

    .navbar i:hover .nav-deatails {
        visibility: visible;
    }

    .nav-deatails li {

        margin-top: 30px;
    }

}

/* navbar closed */
/* main body  */

.bg-image-green{
    width: 100%;
    min-height: 500px;
    background-image: url(https://www.ayrassportshub.com/skin/default/frontend/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  

}

.main body {
    width: 100%;
    color: white;

}

.mainsss {
    width: 100%;
    color: white;

}

.main-body-container {

    width: 100%;
    text-align: center;
    font-family: 'Unbounded';
    line-height: 1.5;
    padding-top: 8rem;
    padding-bottom: 4rem;
    
}

.main-body-container .main-text {
    font-size: 6rem;
    color: #fff;
    font-weight: 700;

}

.main-body-container span {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: sans-serif;


}

.main-body-container a {
    text-decoration: none;
    font-size: .9rem;
    color: #fff;
    font-weight: 500;
    display: block;
    margin-left: 114px;
    font-family: sans-serif;
    margin-top: 40px;
}

.main-body-container a::before {
    content: "  ";
    width: 10px;
    height: 25px;
    display: inline-block;
    background: red;
    position: relative;
    top: 7px;
    margin-right: 20px;
    transform: skew(-10deg, -10deg);
}

.Comapany {
    font-family: sans-serif;

    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;

}

.socialMedias {
    width: 40px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    color: white;

}

.socialMedias i {
    margin-top: 25px;
    font-size: 1;

}

.booknow-text:hover {
    color: yellow;

}

.socialMedias i:hover {
    animation: Socialmedia 1s ease;
    color: yellow;
}

@keyframes Socialmedia {

    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(80deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.text-data {
    max-width: 80%;

}

.main-text-container {
    padding: 0 3rem;
}

@media(max-width:768px) {

    .main-text-container {
        margin: 0 2rem;

    }

    .main-body-container .main-text {
        font-size: 3.5rem;
        color: rgb(204, 174, 3);
        font-weight: 700;

    }

    .main-body-container {

       
        padding-top: 6rem;
       
        
    }
   

}

@media(max-width:400px) {

    .main-body-container .main-text {
        font-size: 3rem;

    }

    .main-text-container {
        margin: 0 rem;
    }

}

@media(max-width:282px) {
    .socialMedias {

        display: none;

    }

    .main-body-container span {
        font-size: 1rem;

    }

    .main-body-container a {
        margin-left: 0px;
    }

    .Comapany {
        max-width: 100%;
        margin-top: 30px;
        padding: 6px;

    }


    .main-text-container {
        padding: 0rem;
    }

    .main-body-container .main-text {
        font-size: 2.5rem;

    }
}

@media(max-width:182px) {
    .main-body-container .main-text {
        font-size: 2rem;
    }

    .main-body-container span {
        font-size: .7rem;

    }

    .main-body-container a {
        margin-left: 0px;
    }

    .main-text-container {
        padding: 0rem;
    }

}


.about-short {
   
    width: 100%;
    padding-right: 5rem;
    position: relative;
    min-height: 500px;
    background-color: var(--clr-background);
    background-image: url(https://www.ayrassportshub.com/skin/default/frontend/images/about-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-short-container {

    width: 100%;
    padding-left: 4rem;
    background-color: #01170a;




}

.about-short-txt {
    color: white;
    display: flex;

    justify-content: space-between;
    padding-top: 5rem;
    width: 100%;
    background-image: url(https://www.ayrassportshub.com/skin/default/frontend/images/about-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;

}

.about-short-txt-heding {
    width: 140%;



}

.about-short-txt-heding h1 {
    font-size: 2em;


}

.about-short-main-text {
    padding:0 2rem;

}

.about-short-main-text p {
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.6;

}

.explore-more-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    transition: all 1s;

}

.explore::before {
    content: "";
    display: inline-block;
    margin-right: 1rem;
    width: .9rem;
    height: 1.8rem;
    background-color: yellow;
    position: relative;
    top: 0;
    margin-right: 20px;
    transform: skew(-10deg, -10deg);
}
.explore{
    display: flex;
}


.explore-more-btn:hover {
    color: #0cc94e;

}

/* responsive about-short */
@media(max-width:992px){
    
    
   
    .about-short-txt{
        flex-direction: column;
    }
    .about-short-main-text {
        padding-left: 0;
        padding-top: 2rem;
        padding-right: 1.8rem;
        padding-bottom: 2rem;
    
    }

}
@media(max-width:796px){
   
    
.about-short {
   
    
    padding-right: 4rem;
   
}


    .about-short-main-text {
        
        padding-right: 1rem;
      
    
    }
    .about-short-txt-heding {
        width: 100%;
    
    
    }

}
@media(max-width:400px){
    
    .about-short-main-text { 
        padding-right: .8rem;
    }
   

    .explore-more-btn {
     
        font-size: 1rem;
        
    }
    .about-short-main-text p {
       
        font-size: .8rem;
        line-height: 1.6;
    }
}
.about-short-txt-heding {
    width: 40%;


}

/* Home page services area with slide images next-previous btn */
.Home-page-services {
    width: 100%;
    min-height: 250px;
    background-color: var(--clr-background);
}

.Home-page-services-container {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Home-page-services-container-txt-left h1 {
    margin-bottom: 2rem;
    display: block;
    color: var(--clr-Font);
    font-weight: 500;
    font-size: var(--Heading-font-size);
}

.Home-page-services-container-txt-left h1 b {
    font-weight: 700;
    font-size: var(--Heading-font-size);
}

.Home-page-services-container-txt-left span {
    color: var(--clr-Font);
    font-weight: 500;
    font-size: var(--font-size);
}

.Home-page-services-container-txt-right {
    display:flex;
  text-align: center;
}
.Home-page-services-container-txt-right {
  
   
}

.Home-page-services-container-txt-right::before {
    content: "";
    display: block;
    width: 1rem;
    height: 4rem;
    background-color: yellow;
    transform: skew(-10deg ,-10deg);
    position: absolute;
    top: 2rem;
    right: 140px;
    
}

.casroul-btn {
    margin-left: 3rem;
    font-size:var(--font-size) ;
    color: var(--clr-Font);
    
}
.casroul-btn:hover{
    color: var(--hover-font-color);
}