* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-background: #005f22;
    --clr-Font: white;
    --Heading-font-size: 2.3rem;
    --font-size: 1.3rem;
    --hover-font-color: yellow;

}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;

}


.navbar {

    width: 100%;
    height: 60px;
    background-color: rgba(3, 46, 14, .8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    position: fixed;
    z-index: 1;

}

.navbar-contents {
    list-style-type: none;
    margin-left: 15px;


}

.navbar-contents a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 550px;
}

.navbar-contents a:hover {
    color: yellow;
}

.navbar ul {

    margin-right: 30px;
    margin-left: 20px;
    display: flex;

}

#Logo {
    width: 81px;
    height: 81px;

    animation: BallRotate 4s linear infinite;

}

@keyframes BallRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

#icon-nav {
    display: none;
    cursor: pointer;

}


@media(max-width:862px) {
    .navbar {
        width: 100%;
        height: 60px;
        background-color: rgba(3, 46, 14, .8);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
        position: relative;
        position: fixed;

    }

    .logo-image-box {
        position: absolute;
        left: 5%;

    }

    #Hide-nav {
        display: none;
    }

    #icon-nav {

        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 9px;
        position: absolute;
        right: 0%;



    }

    .nav-deatails {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        right: 0%;
        top: 100%;

    }

    .navbar i:hover .nav-deatails {
        visibility: visible;
    }

    .nav-deatails li {

        margin-top: 30px;
    }

}

/* navbar closed */
/* main body  */

.bg-image-green {
    width: 100%;
    min-height: 500px;
    background-image: url(https://www.ayrassportshub.com/skin/default/frontend/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}

.main body {
    width: 100%;
    color: white;


}

.mainsss {
    width: 100%;
    color: white;

}

.main-body-container {

    width: 100%;
    text-align: center;
    font-family: 'Unbounded';
    line-height: 1.5;
    padding-top: 8rem;
    padding-bottom: 4rem;

}

.main-body-container .main-text {
    font-size: 6rem;
    color: #fff;
    font-weight: 700;

}

.main-body-container span {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: sans-serif;


}

.main-body-container a {
    text-decoration: none;
    font-size: .9rem;
    color: #fff;
    font-weight: 500;
    display: block;
    margin-left: 114px;
    font-family: sans-serif;
    margin-top: 40px;
}

.main-body-container a::before {
    content: "  ";
    width: 10px;
    height: 25px;
    display: inline-block;
    background: red;
    position: relative;
    top: 7px;
    margin-right: 20px;
    transform: skew(-10deg, -10deg);
}

.Comapany {
    font-family: sans-serif;

    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;

}

.socialMedias {
    margin-right: 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    color: white;
    z-index: 4;

}

.socialMedias i {

    margin-top: 25px;
    font-size: 1;

}

.booknow-text:hover {
    color: yellow;

}

.socialMedias i:hover {
    animation: Socialmedia 1s ease;
    color: yellow;
}

@keyframes Socialmedia {

    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(80deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.text-data {
    max-width: 80%;

}

.main-text-container {
    padding: 0 3rem;
}

@media(max-width:768px) {

    .main-text-container {
        margin: 0 .5rem;

    }

    .main-body-container .main-text {
        font-size: 5rem;
        color: rgb(204, 174, 3);
        font-weight: 700;

    }

    .main-body-container {


        padding-top: 6rem;


    }


}

@media(max-width:400px) {

    .main-body-container .main-text {
        font-size: 4rem;

    }

    .main-text-container {
        margin: 0rem;
        padding: 5px;
    }

    .socialMedias {

        top: 70%;

    }




}

@media(max-width:282px) {
    .socialMedias {

        display: none;

    }

    .main-body-container span {
        font-size: 1rem;

    }

    .main-body-container a {
        margin-left: 0px;
    }

    .Comapany {
        max-width: 100%;
        margin-top: 30px;
        padding: 6px;

    }


    .main-text-container {
        padding: 5px;
    }

    .main-body-container .main-text {
        font-size: 2.5rem;

    }
}

@media(max-width:182px) {
    .main-body-container .main-text {
        font-size: 3rem;
    }

    .main-body-container span {
        font-size: .7rem;

    }

    .main-body-container a {
        margin-left: 0px;
    }

    .main-text-container {
        padding: 0rem;
    }

}


.about-short {

    width: 100%;
    padding-right: 5rem;
    position: relative;
    min-height: 500px;
    background-color: var(--clr-background);
    background-image: url(https://www.ayrassportshub.com/skin/default/frontend/images/about-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-short-container {

    width: 100%;
    padding-left: 4rem;
    background-color: #01170a;




}

.about-short-txt {
    color: white;
    display: flex;

    justify-content: space-between;
    padding-top: 5rem;
    width: 100%;
    background-image: url(https://www.ayrassportshub.com/skin/default/frontend/images/about-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;

}

.about-short-txt-heding {
    width: 140%;



}

.about-short-txt-heding h1 {
    font-size: 2em;


}

.about-short-main-text {
    padding: 0 2rem;

}

.about-short-main-text p {
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.6;

}

.explore-more-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    transition: all 1s;

}

.explore::before {
    content: "";
    display: inline-block;
    margin-right: 1rem;
    width: .9rem;
    height: 1.8rem;
    background-color: yellow;
    position: relative;
    top: 0;
    margin-right: 20px;
    transform: skew(-10deg, -10deg);
}

.explore {
    display: flex;
}


.explore-more-btn:hover {
    color: #0cc94e;

}

/* responsive about-short */
@media(max-width:992px) {



    .about-short-txt {
        flex-direction: column;
    }

    .about-short-main-text {
        padding-left: 0;
        padding-top: 2rem;
        padding-right: 1.8rem;
        padding-bottom: 2rem;

    }

}

@media(max-width:796px) {


    .about-short {


        padding-right: 4rem;

    }


    .about-short-main-text {

        padding-right: 1rem;


    }

    .about-short-txt-heding {
        width: 100%;


    }

}

@media(max-width:400px) {



    .about-short {
        padding-right: 2.5rem;
    }

    .about-short-container {
        padding-left: 2rem;

    }

    .about-short-main-text {
        padding-right: .8rem;
    }

    .explore-more-btn {

        font-size: 1rem;

    }

    .about-short-main-text p {

        font-size: .8rem;
        line-height: 1.6;
    }

    .about-short-txt {
        padding-top: 2rem;
    }


}

@media(max-width:250px) {

    .about-short {
        padding-right: .8rem;
    }

    .about-short-container {
        padding-left: 1rem;

    }


}

.about-short-txt-heding {
    max-width: 40%;


}

/* Home page services area with slide images next-previous btn */
.Home-page-services {
    width: 100%;
    min-height: 250px;
    background-color: var(--clr-background);
}

.Home-page-services-container {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Home-page-services-container-txt-left h1 {
    margin-bottom: 2rem;
    display: block;
    color: var(--clr-Font);
    font-weight: 500;
    font-size: var(--Heading-font-size);
}

.Home-page-services-container-txt-left h1 b {
    font-weight: 700;
    font-size: var(--Heading-font-size);
}

.Home-page-services-container-txt-left span {
    color: var(--clr-Font);
    font-weight: 500;
    font-size: var(--font-size);
}

.Home-page-services-container-txt-right {
    display: flex;
    text-align: center;
}


.Home-page-services-container-txt-right::before {
    content: "";
    display: block;
    width: 1rem;
    height: 4rem;
    background-color: yellow;
    transform: skew(-10deg, -10deg);
    position: absolute;
    top: 2rem;
    right: 140px;

}

.casroul-btn {
    margin-left: 3rem;
    font-size: var(--font-size);
    color: var(--clr-Font);

}

.casroul-btn:hover {
    color: var(--hover-font-color);
}


@media(max-width:600px) {
    .casroul-btn {
        display: none;
    }

    .Home-page-services-container-txt-right::before {


        top: 0rem;
        right: 0px;


    }

    .Home-page-services {
        width: 100%;
        min-height: 250px;
        background-color: var(--clr-background);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }

    .Home-page-services-container {
        margin-top: 4rem;
        padding: 0rem;
        padding-bottom: 4rem;
    }
}

@media(max-width:305px) {


    .Home-page-services-container-txt-right::before {


        top: 0rem;
        right: 65px;


    }

    .Home-page-services-container {
        padding: 1.5rem;
    }


}

.service-slide-image {
    width: 100%;
    display: flex;
    padding-left: 3rem;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-between;


}

.service-slide-image :nth-child(2n) {

    /* margin-top: 4rem; */
}


.service-slide-image-container {
    min-width: 350px;
    height: auto;
    position: relative;
    margin-right: 2rem;

}

.service-slide-image-container img {

    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 1s ease;
}

.service-slide-image-container img:hover {
    filter: grayscale(0)
}

.service-slide-image-container-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--clr-Font);
}

.service-slide-image-container::after {

    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 78%;
    background: linear-gradient(to bottom, rgba(2, 12, 26, 0) 0%, rgba(2, 12, 26, 0.76) 100%);

}


.service-slide-image-container-text span {
    margin-bottom: 5px;
}

@media (max-width:900px) {

    .service-slide-image-container {
        min-width: 350px;


    }

}

@media (max-width:650px) {

    .service-slide-image-container {
        min-width: 350px;

    }

}

@media (max-width:650px) {

    .service-slide-image-container {
        min-width: 350px;

    }

}

@media (max-width:450px) {

    .service-slide-image-container {
        min-width: 90%;

    }

    .service-slide-image {

        padding-left: 2rem;

    }


}



/* AMENITIES-AREA */


.Amenities-container {
    width: 100%;
    min-height: 200px;
    padding: 6rem 4rem 1rem;

}

.amenities-heading h1 {
    font-size: 45px;
    color: var(--clr-background);
    margin-bottom: 1rem;
}

.amenities-heading p {
    font-size: 25px;
    margin-bottom: 1rem;

}

.amenities {
    width: 100%;
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.aminites-box {
    width: 24%;
    margin-bottom: 2.5rem;


}

.aminites-box img {
    width: 100%;
}

.aminites-box h4 {
    font-size: 18px;
    padding-bottom: 2rem;
    padding-top: .4rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;

}

.aminites-box span {
    font-size: 17px;
    font-weight: 500;
}

@media (max-width:992px) {
    .aminites-box {
        width: 45%;
    }

    .amenities-heading h1 {
        font-size: 35px;
        color: var(--clr-background);
        margin-bottom: 1rem;
    }

    .amenities-heading p {
        font-size: 20px;
        margin-bottom: 1rem;

    }

}

@media (max-width:600px) {
    .aminites-box {
        width: 95%;

    }

}

@media (max-width:400px) {
    .amenities-heading h1 {
        font-size: 30px;

    }

    .amenities-heading p {
        font-size: 20px;
    }

    .Amenities-container {
        width: 100%;
        min-height: 200px;
        padding: 4rem 1.5rem 1rem;
    }

}
@media (max-width:275px) {
    .amenities-heading h1 {
        font-size: 25px;
    }

}

/* rules section */

.rules-section {
    width: 100%;
    padding: 1rem 4rem 1rem;

}



.rules {
    max-height: 450px;
    overflow-y: scroll;


}

.rules li {
    line-height: 2;
    font-size: 27px;
}

.rules-heading {

    color: var(--clr-background);
    margin-bottom: 3.5rem;

}

.rules-heading h1 {
    font-size: 45px;
    color: var(--clr-background);
    margin-bottom: 1rem;
}

.rules-heading p {
    font-size: 20px;
    margin-bottom: 1rem;

}

.rules li {

    list-style-type: none;
    position: relative;
    margin-left: 2rem;
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 20px 25px;


}

.rules li::before {

    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid green;
    background-color: yellow;
    display: block;
    position: absolute;
    top: 10px;
    left: -2rem;

}




@media (max-width:992px) {

    .rules-heading h1 {
        font-size: 35px;
    }

    .rules-heading p {
        font-size: 20px;
    }
}

@media(max-width:600px) {

    .rules li {

        margin-left: 1rem;
    }

    .rules li::before {

        top: 10px;
        left: -1rem;

    }

    .rules-section {
        width: 100%;
        padding: 0rem 1.5rem 1rem;
    }

}

@media (max-width:400px) {

    .rules li {

        margin-left: .4rem;
    }

    .rules li::before {


        top: 10px;
        left: -.2rem;

    }


}
@media (max-width:275px) {

    .rules li {

        font-size: 17px
    }
    .rules-section {
        padding: 0rem 0.5rem 1rem;
    }
    .Amenities-container {
       
        padding: 4rem 0.5rem 1rem;
    }
    .rules-heading h1 {
        font-size: 28px;
    }
    .rules-heading p {
        font-size: 18px;
    }
    .aminites-box h4 {
        font-size: 14px;
    }
   


}



/* sports-items-counts */

.sports-item {
    width: 100%;
    min-height: 150px;
    background-color: var(--clr-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    align-items: center;
    padding-left: 2rem;
}

.sports-counts {
    text-align: center;
    color: yellow;
    line-height: 1.2;

}

.sports-counts h2 {
    font-size: 35px;
}

.sports-counts h3 {
    font-weight: 100;
}

.sports-counts-border {
    border-right: 1px solid white;
}

@media (max-width:1200px) {

    .sports-item {

        grid-template-columns: 1fr 1fr 1fr 2fr;

    }


}

@media (max-width:976px) {

    .sports-item {

        grid-template-columns: 1fr 1fr 1fr;

    }

    .sports-counts h2 {
        font-size: 28px;
    }
}

@media (max-width:480px) {

    .sports-item {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-right: 2rem;

    }

    .sports-counts {
        padding: 3rem 0rem;

    }

    .sports-counts-border {
        border-right: 0px solid white;
        border-bottom: 1px solid white;
    }

}

.footer-section {
    width: 100%;
    min-height: 93vh;
    display: grid;
    grid-template-columns: .6fr 1.3fr 1.3fr;
    grid-template-rows: 3fr 1fr 2fr .4fr;
    background-color: #001f0b;
    color: white;
    padding: 0rem 6rem;

}

.branch {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.footer-font p {

    font-size: 17px;
    color: white;
    font-weight: 500;
    line-height: 2;
}

.Quik-A a p:hover,
.Quik-B a p:hover {
    color: green;
    transition: all 1s linear;
}


.Heading-footer {
    color: green !important;
    font-size: 20px;
    font-weight: 700 !important;

}

a {
    text-decoration: none;
}

.links {
    grid-area: 1/3/2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;


}

.quick-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

}

.logo-image-box-Footer {
    grid-area: 1/1/2/2;
    align-items: center;
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 150px;
    animation: BallRotate 4s linear infinite;

}

.Email-container {
    grid-area: 2/2/3/3;
    display: flex;
    line-height: 1.5;
    align-items: center;

}

.Email-contact {
    padding-right: 20%;
    position: relative;

}

.Email-contact::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background: #fff;
    position: absolute;
    right: 11px;
    top: 0;
    opacity: .3;

}

.tell-us {
    padding-left: 5%;
}

.follow-social-media {
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;

}

.follow-social-media-items i {
    margin-right: 2rem;
}
.keep-in-touch-container{
    grid-area: 3/1/4/4;
}
.keep-in-touch-container h2{
    
    padding: 1.5rem 0rem;
    font-size: 30px;
}
.user-enquery-field{
 display: grid;
 grid-template-columns: 1fr 1fr .3fr;
 grid-template-rows: 1fr 1fr;
}

.user-enquery-field input{
    border: 0px;
    background-color: #001f0b;
    height: 30px;
    padding: 1.5rem 0rem;
    width: 100%;
    font-size: 15px;
    color: white;

}


.user-enquery-field input:focus {
 
    outline: none;
    border-bottom: 1px solid green;
  }
.input-a{
    grid-area: 1/1/2/2;
}
.input-b{
    grid-area: 1/2/2/3;
}
.input-c{
    grid-area: 2/1/3/2;
}
.input-d{
    grid-area: 2/2/3/3;
}
.input-e{
    grid-area: 2/3/3/4;
    
    color: #fff000 !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
  
}
.copy-right{
    grid-area: 4/1/5/4;
    text-align: center;
    padding:1rem 0rem;
}
.copy-right h4{
    font-size: 15px;
    font-weight: 500;
}





@media(max-width:1200px) {


    .footer-section {

        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
        grid-template-rows: 3fr 1fr 2fr;

        padding: 0rem 5rem;

    }
}

@media(max-width:996px) {


    .footer-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 2fr .6fr .6fr 2.5fr .3fr;
        padding: 0rem 3rem;

    }

    .logo-image-box-Footer {
        grid-area: 1/2/2/3;
        justify-content: end;
        align-items: end;
    }

    .branch {
        grid-area: 1/1/2/3;
        justify-content: end;

    }

    .links {
        grid-area: 2/1/3/4;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        position: relative;

    }

    .links::after {
        content: "";
        display: block;
        height: 1px;
        background: #fff;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -24px;
        opacity: .3;
    }

    .links::before {
        content: "";
        display: block;
        height: 1px;
        background: #fff;
        position: absolute;
        right: 0;
        left: 0;
        top: -23px;
        opacity: .3;
    }

    .Quik-A {
        margin-right: 38%;
    }

    .quick-links-container {
        justify-content: flex-start;
    }

    .Email-container {
        grid-area: 3/1/4/4;
    }

    .follow-social-media {
        grid-area: 4/1/5/4;
    }
    .keep-in-touch-container{
        grid-area: 5/1/6/3;
    }
    .copy-right{
        grid-area: 6/1/7/3;
        
       
    }
    .user-enquery-field{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr .3fr;
       }
    .input-b{
        grid-area: 2/1/3/2;
    }
    .input-c{
        grid-area: 3/1/4/2;
    }
    .input-d{
        grid-area: 4/1/5/2;
    }
    .input-e{
        grid-area: 5/1/6/2;
        color: #fff000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        text-align: start;
    
      
    }
    
}

@media (max-width:768px) {
    
    .footer-section {
        grid-template-rows: 1.5fr 2fr .6fr .6fr 1.7fr .3fr;
    }

    .quick-links-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: space-between; */
        padding-top: 1rem;
    }

    .links {

        margin-top: 0rem;
        position: relative;
    }

    .links::after {

        bottom: -50px;

    }

    .links::before {
        top: -40px;
    }

    .branch {
        grid-area: 1/1/2/3;
        justify-content: center;

    }

    .logo-image-box-Footer {

        align-items: center;
    }

    .Email-container {
        align-items: end;
    }

    .follow-social-media {
        justify-content: start;
    }
}

@media (max-width:576px) {
    .footer-logo {
        height: 100px;


    }

}

@media (max-width:375px) {

    .footer-section {
        grid-template-rows: .8fr 1.5fr .6fr .2fr 1.2fr .1fr;
    
    }

    .footer-logo {
        height: 80px;

    }

    .footer-section {

        padding: 0rem 1.5rem;
    }

    .Email-container {
        align-items: start;
        flex-direction: column;
        justify-content: end;
    }
    .tell-us {
        padding-left: 0;
        margin-top: .5rem;
    }
    .Email-contact::after{
        display: none;
    }
    .keep-in-touch-container h2 {
        font-size: 28px;
    }
    .copy-right h4{
        font-size: 15px;
        font-weight: 500;
    }
    .input-e{
        font-size: 12px;
    }
    .links::before {
        top: -20px;
    }


}

@media (max-width:275px) {

    .footer-section {
        padding: 0rem 0.5rem;
    }
    .logo-image-box-Footer {
        align-items: start;
        display: none;
    }
    .footer-font p {
        font-size: 17px;
    }
    .Heading-footer {
        font-size: 18px !important;
    }
    .keep-in-touch-container h2 {
        font-size: 22px;
    }

}